* {
  /* box-sizing: border-box; */
  box-sizing: border-box;
}

:focus {
  /* TODO */
  outline: 4px groove #68c868;
}

body {
  /* TODO */
  height: 100%;
  background-image: linear-gradient(#decaff, #c0ffee);
  background-repeat: no-repeat;
  border: 5px solid #a0ddcc;
}

input {
  /* TODO */
  font-size: 2rem;
  background-color: #c0ffee;
  outline: 4px groove #decaff;
  border: none;
  padding: 0.6rem;
  border-radius: 5px;
}

.search-container {
  /* TODO */
  width: 30%;
  margin: 20rem auto 30rem;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
  width: 100%;
}
.search-container input {
  /* TODO */
}
.search-container .suggestions {
  /* TODO */
}

ul {
  /* TODO */
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
  margin: 0 auto;
  padding: 0.6rem;
  color: #351431;
  background-color: #c0ffee;
  font-size: 2rem;
  width: 100%;
  transition: all 0.2s ease-in;
}
ul li:hover {
  /* TODO */
  background-color: #351431;
  color: snow;
  border-radius: 5px;
}
